
/*fonts headings and paragraphs*/
h1{
    border-style: dotted;
    border-width: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    border-bottom: solid;
    border-width: 5px;
    border-color: black;
    
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#p1{
    position: relative;
    left: 620px;
    top : 850px;
}

#p2 {
    font-size: 180%;
    position: relative;
    top: 50px;

}
/*divs and beyond*/





/*imgs and such*/
#me { 
    width:600px ;
    height: 800px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width : 10px;
}

#me-bald{
    width:400px ;
    height: 300px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width : 10px;
    position: absolute;
    top: 160px;
    left:611px;
}

#holly{
    width: 400px;
    height: 500px;
    position: absolute;
    left: 610px;
    top: 465px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width : 10px;
}

.card{
    position:relative;
    top : 50px;
}
/*buttons*/


#button2{
    position: absolute;
    left: 00px;
    top: 1480px;
    width: 180px;
    height: 50px;
}
#button3{
    position: absolute;
    left: 200px;
    top: 1480px;
    width: 180px;
    height: 50px;
}
#button4{
    position: absolute;
    top:120px;
    width: 70px;
    
    
}
.paragraph1{
    position: relative;
    left: 500px;
    top: -310px;
}



