

.card-4{
    position: relative;
    left: 500px;
    top: 0;
}
/*laser*/
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#laserCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#Align-H{
    text-align: center;
    border-bottom: solid;
    border-color: black;
}


.scrollable {
    max-height: 200px; 
    overflow-y: auto; 
}

#phone-image{
    height: 400px;
    width: 400px;
}

#new-Head{
    position: relative;
    top: -100px;
    left:0px;
}

.scrollable1 {
    max-height: 200px; 
    overflow-y: auto; 
}
